* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: 0;
}
html body {
  background-color: white;
}
.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 15px;
}
.container_enter {
  margin-bottom: 120px;
}
.prog-txt-fest {
  width: 70%;
  font-size: 20px;
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
    align-items: center;
  }
  .btn {
    margin-top: 5%;
  }
  .h1_text {
    font-size: 20px;
    text-align: center;
    padding: auto;
  }
  .main-text {
    font-size: 10px;
    text-align: center;
    display: block;
  }
  .text-page {
    margin-top: 10%;
    margin-left: 5%;
  }
  .card img {
    height: auto;
    display: flex;
  }
  .card-image {
    margin-left: 5%;
    border-radius: 1em;
    text-align: center;
    height: 100%;
    width: 95%;
    filter: brightness(0.9);
  }
  .gallery-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 250px;
    width: 280px;
  } 
  /* .gallery-card-image:hover {
    transform: (scale(1.1));
  } */
  .small-card-image {
    border-radius: 100%;
    margin-left: 10%;
    margin-bottom: 25%;
    text-align: center;
    height: 100px;
    width: 100px;
  }
  .middle-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    margin-top: 2%;
    height: 100%;
    width: 96%;
    filter: brightness(0.9);
  }
  .middle-2-card-image {
    border-radius: 1em;
    text-align: center;
    margin-left: 1%;
    margin-top: 5%;

    width: 97%;
    filter: brightness(0.9);
  }
  .block-2-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    height: 90%;
    width: 86%;
    filter: brightness(0.9);
  }
  .c-text {
    font-size: 15px;
    margin-top: -5%;
    margin-bottom: 10%;

    text-align: center;
  }
  .block-7-text {
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .form_body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 95%;
  }
  .small-text-center {
    text-align: left;
  }
  .container_enter {
    margin-bottom: 80px;
  }
  .margin-bottom {
    padding-bottom: 5%;
  }
  .width-txt {
    width: 100%;
    text-align: left;
  }
  .h-text {
    font-size: 24px;
  }
  .left {
    margin-left: 5%;
  }
  .h3-class {
    font-size: 18px;
    margin-left: 5%;
  }
  .h1-class {
    font-size: 22px;
    margin-left: 3%;
  }
  .btn-order {
    margin-left: 3%;
  }
  .enter {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-txt-fest {
    font-size: 17px;
  }
  .nav-item {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .btn {
    margin-top: 5%;
  }
  .h1_text {
    font-size: 20px;
    text-align: center;
    padding: auto;
  }
  .main-text {
    font-size: 10px;
    text-align: center;
    display: block;
  }
  .text-page {
    margin-top: 10%;
    margin-left: 5%;
  }
  .card img {
    height: auto;
    display: flex;
  }
  .card-image {
    margin-left: 5%;
    border-radius: 1em;
    text-align: center;
    height: 100%;
    width: 95%;
    filter: brightness(0.9);
  }
  .gallery-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%;
    text-align: center;
    height: 250px;
    width: 280px;
  }
  /* .gallery-card-image:hover {
    transform: scale(1.1); } */
  
  .small-card-image {
    border-radius: 100%;
    margin-left: 6%;
    margin-bottom: 25%;
    text-align: center;
    height: 70px;
    width: 70px;
  }
  .middle-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    margin-top: 2%;
    height: 100%;
    width: 96%;
    filter: brightness(0.9);
  }
  .middle-2-card-image {
    border-radius: 1em;
    text-align: center;
    margin-left: 1%;
    margin-top: 25%;

    width: 97%;
    filter: brightness(0.9);
  }
  .block-2-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    height: 90%;
    width: 86%;
    filter: brightness(0.9);
  }
  .c-text {
    font-size: 14px;
    margin-top: -5%;
    margin-bottom: 10%;

    text-align: center;
  }
  .block-7-text {
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .form_body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 95%;
  }
  .small-text-center {
    text-align: left;
  }
  .container_enter {
    margin-bottom: 80px;
  }
  .margin-bottom {
    padding-bottom: 5%;
  }
  .width-txt {
    width: 100%;
    text-align: left;
  }
  .h-text {
    font-size: 24px;
  }
  .left {
    margin-left: 5%;
  }
  .h3-class {
    font-size: 18px;
    margin-left: 5%;
  }
  .h1-class {
    font-size: 22px;
    margin-left: 3%;
  }
  .btn-order {
    margin-left: 3%;
  }
  .enter {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
  .main-txt-fest {
    font-size: 14px;
  }
  .nav-item {
    font-size: 14px;
  }
  .prog-txt-fest {
    width: 90%;
    font-size: 16px;
  }
  .card-mg,
  .card-mg-2,
  .card-mg-1 {
    margin-top: -8%;
    margin-left: 1%;
  }
    .card-mg-3 {
    margin-top: -6%;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: auto;
  }
  .btn {
    margin-top: 5%;
  }
  .text-size {
    text-align: center;
    margin-left: -5px;
  }
  .h1_text {
    font-size: 20px;
    text-align: center;
    padding: auto;
  }
  .row1 {
    padding: 0;
    border: 0;
    box-sizing: 0;
    margin-top: -3rem;
    margin-right: 0;
    margin-left: -15px;
  }
  .main-text {
    font-size: 10px;
    text-align: center;
    display: block;
  }
  .text-page {
    margin-top: 10%;
    margin-left: 5%;
  }
  .card img {
    height: auto;
    display: flex;
  }
  .card-image {
    margin-left: 5%;
    border-radius: 1em;
    text-align: center;
    height: 95%;
    width: 95%;
    filter: brightness(0.9);
  }
  .gallery-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 250px;
    width: 280px;
  } 
  /* .gallery-card-image:hover {
    transform: scale(1.2); }
   */
  .small-card-image {
    border-radius: 100%;
    margin-left: 6%;
    margin-bottom: 25%;
    text-align: center;
    height: 40px;
    width: 40px;
  }
  .middle-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    margin-top: 2%;
    height: 90%;
    width: 96%;
    filter: brightness(0.9);
  }
  .middle-2-card-image {
    border-radius: 1em;
    text-align: center;
    margin-left: 3%;

    width: 97%;
    margin-top: 1%;
    filter: brightness(0.9);
  }
  .block-2-card-image {
    margin-left: 3%;
    border-radius: 1em;
    text-align: center;
    height: 90%;
    width: 96%;
    filter: brightness(0.9);
  }
  .c-text {
    font-size: 18px;
    margin-top: -8%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: center;
  }
  .block-7-text {
    margin-bottom: 5%;
    margin-left: 5%;
  }
  .form_body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 95%;
  }
  .small-text-center {
    text-align: left;
  }
  .container_enter {
    margin-bottom: 80px;
  }
  .margin-bottom {
    padding-bottom: 5%;
  }
  .width-txt {
    width: 100%;
    text-align: left;
  }
  .h-text {
    font-size: 24px;
  }
  .left {
    margin-left: 5%;
  }
  .h3-class {
    font-size: 18px;
    margin-left: 5%;
  }
  .h1-class {
    font-size: 22px;
    margin-left: 3%;
    margin-bottom: 15%;
  }
  .btn-order {
    margin-left: 3%;
  }
  .main-txt-fest {
    font-size: 18px;
  }
  .prog-txt-fest {
    width: 90%;
    font-size: 20px;
  }
  .card-mg,
  .card-mg-3 {
    margin-top: 2%;
    margin-left: 1%;
  }
  .card-mg-1,
  .card-mg-2 {
          margin-top: 2%;
    margin-left: 2%;
  }
}

/* @media screen and (max-width: 1210px) {
  html {
    zoom: 75%;
  }
} */
